:root {
    --color-uphf: #008CAD;
    --color-uphf-hover: #00748F;
    --color-uphf-active: #005F77;
    --color-uphf-disabled: rgba(0, 140, 173, 0.85);
    --color-uphf-bg: rgb(214, 242, 250);
}

/* Style couleurs UPHF */
.btn-uphf {
    background: var(--color-uphf);
    border: none;
    color: white !important;

    &:hover {
        background: var(--color-uphf-hover);
    }
    &:active {
        background: var(--color-uphf-active) !important;
    }
    &:disabled {
      background: var(--color-uphf-disabled) !important;
    }
    &.active {
        background: var(--color-uphf-active) !important;
    }
}
.btn-outline-uphf {
    --bs-btn-color: var(--color-uphf);
    --bs-btn-border-color: var(--color-uphf);
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: var(--color-uphf-hover);
    --bs-btn-hover-border-color: var(--color-uphf-hover);
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: var(--color-uphf-active);
    --bs-btn-active-border-color: var(--color-uphf-active);
    --bs-btn-disabled-color: var(--color-uphf);
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: var(--color-uphf);
}

.border-uphf {
  border: 2px solid var(--color-uphf);
}

.bg-uphf {
  background: var(--color-uphf-bg) !important;
}

.text-uphf {
    color: var(--color-uphf);
}

.bg-uphf {
    background: var(--color-uphf);
}

.icon-uphf {
    fill: var(--color-uphf);
}

.header-line-brand-color {
    height: 3px;
    background-color: var(--color-uphf);
}

.form-check-input:checked[type="checkbox"] {
    border-color: var(--color-uphf);
    background-color: var(--color-uphf);
}

.dropdown-item {
    &:hover {
        color: white;
        background: var(--color-uphf-hover);
    }
    &:active {
        background-color: var(--color-uphf-active);
    }
    &.active {
        background-color: var(--color-uphf);
    }
}

.nav-link.active.uphf {
    color: var(--color-uphf);
    font-weight: bold;
}

.card-uphf {
    background-color: var(--color-uphf);
    background-image: url(/img/uphf-logo-symbol-bg.svg);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.border-upfd {
    border: 1px solid var(--color-uphf);
}

.btn-uphf a.btn-link-inside {
    color: #fff;
    text-decoration: none;
}

.table-uphf{
     --bs-table-bg : var(--color-uphf);
     --bs-table-color : white;
 }

.btn-uphf a.btn-link-inside:hover,
.btn-uphf a.btn-link-inside:focus {
    color: #fff;
    text-decoration: none;

    .btn-no-border {
        border: none;
        outline: none;
        box-shadow: none;
    }
}

/* Animer l'affichage des notifications */
.alert{
    display: none!important;
    opacity: 0;
    transition: opacity 1s ease;
}

.alert.showing {
    display: flex!important;
}

.alert.show {
    opacity: 1;
}

/* utils */
.offcanvas.offcanvas-start {
    width: 300px !important;
}
.justify-text {
  text-align: justify;
}
.w-fit-content {
    width: fit-content!important;
}

/* main layout */
html, body {
    height: 100%;
    overflow: hidden;
}
.scroll-parent {
    display: flex !important;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}
.scrollable {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
}

.scrollable, .scroll-shadows {
    /* Système de shadow sur les containers qui scroll, récupérer sur css-tricks https://css-tricks.com/books/greatest-css-tricks/scroll-shadows/ */

    background:
            linear-gradient(white 30%, rgba(255, 255, 255, 0)) center top,
            linear-gradient(rgba(255, 255, 255, 0), white 70%) center bottom,
            radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center top,
            radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) center bottom;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    background-attachment: local, local, scroll, scroll;
}

@media (max-width: 991px) {
    html, body {
        min-height: 100dvh!important;
        height: auto;
        overflow: visible;
    }
    .scrollable {
        overflow: visible;
    }
    #footer {
        margin-top: auto;
    }
}

/* slides dot pagination */
.pagination-dots {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #b9b9b9;
    border-radius: 50%;
}

.dot.active {
    background-color: #000000;
}

/* detail-justification */
@media (min-width: 991px) {
    .detail-justification-fixed-height {
        max-height: 220px;
    }
}

/* table-like */
.table-like .row-content > * {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-top: 1px solid var(--bs-border-color);
    border-left: 1px solid var(--bs-border-color);
    background-color: var(--bs-table-bg);
}
.table-like .row-content:last-child > * {
    border-bottom: 1px solid var(--bs-border-color);
}
.table-like .row-content > *:last-child {
    border-right: 1px solid var(--bs-border-color);
}

.table-like .row-content {
    display: contents;
}
@media(min-width: 992px) {
    .table-like {
        display: grid;
        grid-auto-rows: min-content;
    }
}
@media(max-width: 991px) {
    .table-like {
        display: none;
    }
}

/* FullScreen loader */
#full-screen-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* assombrissement */
    z-index: 9999;
}

/* Navigation Dashboard */
.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    height: 65px;
    background: white;
    border-top: 1px solid #ddd;

    display: flex;
    justify-content: space-around;
    align-items: center;

    z-index: 1050;
}

.btn-nav {
    flex: 1;
    height: 100%;

    border: none;
    background: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    color: #6c757d;
}

.btn-nav.active {
    color: var(--color-uphf);
    font-weight: 600;
}

@media (max-width: 767px) {
    #tab-dashboard-stuContent {
        border: none !important;
        padding-top: 0 !important;
        border-radius: 0.5rem 0.5rem 0 0 !important;
    }
    .card-md {
        background: white;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: 0.375rem;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        padding: 1rem; /* équivalent p-3 */
    }
}

.pointer {
    cursor: pointer;
}