<!-- Modal pour la déconnexion -->
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="logoutModalLabel">Voulez-vous vous déconnecter ?</h1>
                <!-- Bouton pour quitter le modal, pour plus de clarité pour l'user -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <!-- Encore un bouton pour quitter le modal, pour plus de clarité pour l'user -->
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <!-- button avec lien pour acceder au script de logout que nous ferons dans le futur -->
                <a href="./Presentation/logout.php"><button type="button" class="btn btn-primary">Se déconnecter</button></a>
            </div>
        </div>
    </div>
</div>