body {
    background-color: white;
    margin: 0;
    padding: 20px;
}

.justification-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 20px;
}

.justification-body {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}


.justification-motif {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.justification-files {
    flex: 1;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.justification-files-choice {
    margin-bottom: 40px;
}
.file {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    background: #f1f3f5;
    padding: 8px 12px;

    border-radius: 6px;


}
.file-icons{
    justify-content: right;
}
.file button {
    border: none;
}

.file button:hover {
    color: magenta;
}

.footer {

    text-align: right;
}