html {
    /* Garder une cohérence avec les polices "native" selon le système utilisé */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.main-container {
    padding: 25px;
}

/* Custom input */
input, select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
}
/* Custom checkbox */
input[type=checkbox] {
    width: 29px;
    height: 29px;
    border: 1px solid lightgray;
    appearance: none;
    cursor: pointer;
    padding: 0 6px;

    &:checked::before {
        content: "✓";
        font-size: 19px;
        font-weight: bold;
    }
}
.checkbox-container{
    display: flex;
    align-items: center;
    gap: 5px;
}
/* Custom Button */
button {
    cursor: pointer;
    background: #008CAD;
    color: white;
    height: 29px;
    border-radius: 5px;
    border: none;
    padding: 0 10px;

    &:hover {
        background: #00748F;
    }
}

.tab {
    display: flex;
    margin: 0;
    padding: 0;
}
.tab-item {
    list-style: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid white;
    border-bottom: 1px solid lightgray;
    padding: 25px;
    flex-grow: 1;
    text-align: center;

    &:hover {
        cursor: pointer;
        border: 1px solid lightgray;
    }
    &.active{
        border: 1px solid lightgray;
    }
}

.filter-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 25px;
    border-bottom: 1px solid lightgray;
}

.tab-content {
    border: 1px solid lightgray;
    border-top: none;
}

.abs-container{

    & > .abs {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;

        & > .date {
            display: flex;
            flex-direction: column;
        }
        & > .tags {
            display: flex;
            align-items: center;
            flex-grow: 1;
            gap: 5px;

            & > .tag {
                height: fit-content;
                padding: 2px 7px;
                border-radius: 15px;
                color: white;

                &.approved {
                    background: #198754;
                }
                &.rejected {
                    background: #EF4444;
                }
                &.under-review {
                    background: #F59E0B;
                }
                &.unjustified {
                    background: #B91C1C;
                }
                &.pending {
                    background: #6c757d;
                }
                &.exam {
                    background: #dc3545;
                }
            }
        }
    }
}