:root
{
    --color-uphf: #008CAD;
    --color-uphf-hover: #00748F;
    --color-uphf-active: #005F77;
}

html, body {
    height: 100vh;
}

.btn-uphf {
    background: var(--color-uphf);
    border: none;
    color: white !important;

    &:hover {
        background: var(--color-uphf-hover);
    }
    &:active {
        background: var(--color-uphf-active) !important;
    }
}

.text-uphf {
    color: var(--color-uphf);
}

.icon-uphf {
    fill: var(--color-uphf);
}

.header-line-brand-color {
    height: 3px;
    background-color: var(--color-uphf);
}

/* Animer l'affichage des alertes */
.alert{
    display: none!important;
    opacity: 0;
    transition: opacity 1s ease;
}
.alert.showing {
    display: flex!important;
}
.alert.show {
    opacity: 1;
}

.form-check-input:checked[type="checkbox"]
{
    border-color: var(--color-uphf);
    background-color: var(--color-uphf);
}

.dropdown-item:active
{
    background-color: var(--color-uphf-active);
}