.btn-uphf {
    background: #008CAD;
    border: none;
    color: white !important;

    &:hover {
        background: #00748F;
    }
    &:active {
        background: #005F77 !important;
    }
}

.text-uphf {
    color: #008CAD;
}

.icon-uphf {
    fill: #008CAD;
}

.header-line-brand-color {
    height: 3px;
    background-color: #008CAD;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Animer l'affichage des alertes */
.alert{
    display: none!important;
    opacity: 0;
    transition: opacity 1s ease;
}
.alert.showing {
    display: flex!important;
}
.alert.show {
    opacity: 1;
}